#form-container {
  height: 100vh;
  margin-left: 30%;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

#sign-up {
  color: blue;
  cursor: pointer;
}

#formParent {
  display: flex;
}