#favorite-team {
  margin-top: 26px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 54, 230, 0.297)
}

#favorite-team:hover {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside {
  margin-top: 100px;
  width: 15%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: left;
}

#carousel-image {
  max-height: 768px;
  cursor: pointer;
}

#current-scores {
  margin-top: 200px;
}

#cardImage {
  height: 171px;
  cursor: pointer;
}

#cardText {
  height: 120px;
}

#cardContainer {
  margin-top: 25px;
}

#titleText {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#descriptionText {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#removeTeam {
  margin-top: 30%;
}

#twitterButton {
  max-width: 20px;
}

#modalBody {
  height: 250px;
  overflow-y: auto;
}

#modalContainer {
  overflow-y: initial !important;
}