#homeButton {
  color: white;
  background-color: rgba(45, 62, 156, 0.783);
}
#navbarContainer {
  color: white;
}

#dropDown {
  width: 400px;
}

#proSport {
  align-content: center;
}

#currentTeam {
  width: 600px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#dropdownContainer {
  width: 350px;
}
